<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Tweet</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.body %></td>
        <td><%= link_to tweet.user.username, user_path(tweet.user.username) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
